.git
.github
vendor
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
.phpunit.result.cache
.phpunit.cache
tests
docs
README.md
*.md
.idea
.vscode
.fleet
.claude
